<launch>

  <!-- Launch scene acquirer -->
  <include file="$(find scene_acquirer_node)/launch/scene_acquirer_poses_scanner.launch" />
  
  <!-- Launch turn table interface -->
  <!-- If you see node panic, give 777 permission to usb: sudo chmod 777 /dev/ttyUSB0 -->
  <include file="$(find turn_table_interface_node)/launch/turnTable_interface.launch" /> 

  <!-- Launch rgbd lwr node -->
  <include file="$(find rgbd_lwr)/launch/rgbd_lwr.launch" />

	<!-- the poses scanner node  -->
  <rosparam command="load" file="$(find poses_scanner_node)/config/parameters.yaml" />
	<node name="poses_scanner_node" pkg="poses_scanner_node" type="poses_scanner_node" output="screen" />

</launch>
